
workdir = "/data/DUS/"

git_user = "REPLACE_ME"

azure_user = "REPLACE_ME"
azure_org = "https://dev.azure.com/REPLACE_ME/"

report_target_dir = "/tmp/"

report_smtp_server = "REPLACE_ME"
report_smtp_port = 25
report_smtp_user = "REPLACE_ME"
report_sender = "REPLACE_ME"
report_recipient = "REPLACE_ME"

max_age_days = 90
